<ion-view view-title="Home">
  <ion-content id="contenido" >  	
		<div class="row">
			<div id="centro" class="responsive-md">
				<h1 class="titulo">InstaLui  <i class="ion-android-camera"></i></h1>			
				<a id="ver" class="button button-balanced" href="#/app/playlists">
					View photos
				</a>
				<button class="button button-balanced">
					Upload photo
				</button>
			</div>
		</div>		
  </ion-content>
  <div class="bar bar-footer bar-balanced">
		<div id="pie" class="title">Daw - Diw - ionic</div>
</div>
</ion-view>
